/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Styles */
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h1,
h2 {
    font-weight: bold;
}

p {
    font-size: 1.25em;
    margin: 5px 0;
}

ul {
    padding-left: 10px;
    margin: 10px 0;
    list-style-type: disc;
}

li {
    margin-left: 10px;
    padding-left: 10px;
}



/* Border to elements */
header,
article,
aside,
footer {
    border: 1px solid #111;
}

/* Margin and padding to structural elements*/
h1,
h2,
p {
    margin-left: 2%;
    margin-top: 1%;
}

header,
article,
aside,
footer {
    border: 1px solid #111;
    padding: 10px 1em;
    margin: 0 2% 10px;
}

header {
    margin-top: 10px;
}

/* Media Queries */

@media only screen and (min-width: 40em) {
    article {
        width: 67%;
        float: left;
        margin-right: 0;
    }

    aside {
        width: 21%;
        float: right;
        margin-left: 0;
    }

    footer {
        clear: both;
    }
}

article img {
    width: 100%;
}

article img {
    max-width: 400px;
    max-height: 100%;
}

article img {}

@media only screen and (min-width: 28em) {
    article img {
        float: right;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 10px;
    }
}


/* Background Image for header */
header {
    background-image: url(./images/harambebanner.png);
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    /* optional, center the image */
}

/* Buttons for nav bar */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    border: 1px solid #666;
    background-color: #eee;
    padding: 10px 1em;
    margin: 2px 0 0;
    text-align: center;
}

nav li a {
    text-decoration: none;
    font-size: 1.2em;
}

@media only screen and (min-width: 30em) {
    nav li {
        display: block;
        float: left;
        width: 25%;
    }

    nav {
        padding-bottom: 3em;
    }
}
